*
{
    margin: 10;
    padding: 10;
    border: 10;
    align: center;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    #background: url( '../images/background.jpg' );
    background-color: White;
    text-align: center;
}

#mainboard
{
    width: 1000px;
    height: auto;
    margin: auto;
    position: relative;
    background-color: White;
    align: center;
}

#parameters_div
{
	width: 90%;
	height: 450px;
	align: center;
}

.parameters_table
{
	color: balck;
	width: 80%;
	align: center;
}

.parameters_table tr
{
	background-color:white;
	font:bold 12pt verdana;
	text-decoration:none;
	text-align: left;
}


#result_div
{
	width: 80%;
	align: center;
}

.result_table
{
	color: balck;
	width: 80%;
	align: center;
	border: 1;
}

.result_table tr
{
	background-color:white;
	font:bold 12pt verdana;
	text-decoration:none;
	text-align: center;		
}




