*
{
    margin: 10;
    padding: 10;
    border: 10;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    background: url( '../images/background.jpg' );
    background-color: White;
    text-align: center;
}

#mainboard
{
    width: 1000px;
    height: auto;
    margin: auto;
    position: relative;
    background-color: White;
}

.result_table
{
	color: balck;
	width: 90%;
	align: center;
	border: 1px;
}

.result_table tr
{
	background-color:white;
	font:bold 12pt verdana;
	text-decoration:none;
	text-align: center;		
}





#header
{
    width: 100%;
    height: 120px;
    position: relative;
}

#header_p2
{
    width: 100%;
    height: 100px;
    position: absolute;
}


#tplogo
{
    position: absolute;
    top: 50px;
}

#logindiv
{
    text-align: center;
    vertical-align: middle;
    width: 320px;
    margin: auto;
    position: relative;
    top: 240px;
}

#loginstatus
{
    text-align: center;
    font-family: Arial;
    width: 300px;
    position: relative;
    padding-right: auto;
}

#nav
{
    line-height: 24px;
    list-style-type: none;
    background: #666;
}

#nav a
{
    display: block;
    width: 80px;
    text-align: center;
}

#nav a:link
{
    color: #666;
    text-decoration: none;
}

#nav a:visited
{
    color: #666;
    text-decoration: none;
}

#nav a:hover
{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

#nav li
{
    float: left;
    width: 80px;
    background: #CCC;
}

#nav li a:hover
{
    background: #999;
}

#nav li ul
{
    line-height: 27px;
    list-style-type: none;
    text-align: left;
    left: -999em;
    width: 180px;
    position: absolute;
}

#nav li ul li
{
    float: left;
    width: 180px;
    background: #F6F6F6;
}

#nav li ul a
{
    display: block;
    width: 180px;
    width: 156px;
    text-align: left;
    padding-left: 24px;
}

#nav li ul a:link
{
    color: #666;
    text-decoration: none;
}

#nav li ul a:visited
{
    color: #666;
    text-decoration: none;
}

#nav li ul a:hover
{
    color: #F3F3F3;
    text-decoration: none;
    font-weight: normal;
    background: #C00;
}

#nav li:hover ul
{
    left: auto;
}

#nav li.sfhover ul
{
    left: auto;
}

#frontHeader
{
    background-color: #1777B1;
}

.text_left
{
    text-align: left;
}

.text_center
{
    text-align: center;
}

.text_right
{
    text-align: right;
}

.margin_left_auto
{
    margin-left: auto;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.blank_row
{
    width: 100%;
    height: 10px;
    position: relative;
}
